body{
    padding-top:90px;
    padding-bottom: 20px;
}

.nav-link-red{
    color: red;
}

.form-flex{
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.form-row {
    flex: 0 0 auto;
}
.last-row {
    flex: 1;
}

.last-row.col{
    height: 100%;
}


.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 2s; 
    animation-iteration-count: infinite;            
}

.userMenu {

    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-width: 0.1px;

}

.dropdown-item:active{
    background-color: white;
    color: inherit;
}

.dropdown-item:hover{
    background-color: white;
    color: inherit;
}

.form-check-input:checked {
    background-color: hsl(140, 89%, 44%);
    border-color: hsl(140, 89%, 44%);
}

.form-check-input:focus {
    border-color: hsl(140, 89%, 44%);
    box-shadow:  0 0 0 .25rem #05b43140;
}


@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}